@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body{
    background-color: rgba(240, 240, 240, 0.897);
}
:root{
    --pry_color :rgb(9, 123, 189);
}
html{
    font-size: 65.5%;
}
.table thead th{
    /* border: 1px solid #1f1f1f23 !important; */
    border-bottom: 1px solid #14141421 !important;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: .2rem !important;
    text-transform: capitalize;

}
.table tbody td{
    border-bottom: 1px solid #14141421 !important;
}
.ac_btn{
 text-align: center;  
 display: flex;
 justify-content: center;
}
.adtionth{
    width: 30rem;
}
.table tbody td{
    /* border: 1px solid #1f1f1f23 !important; */
    text-align: center;
    /* border-radius: .2rem !important; */
}
.container{
    display: flex;
    max-width: 98vw;
    flex-direction: column;
    margin-top: 2rem;
    background-color: rgb(251, 251, 252);
    border-radius: .4rem;
    font-size: 1.4rem;
   
  
}
header{
display: flex;
justify-content: center;
align-items: center;
min-height: 7rem;
}
header h2{
margin-top: -2rem;
font-size: 3rem;
color: gray;
}
header span{
color: var(--pry_color);
font-size: 3.5rem;
}
.Submit_btn{
    background-color: var(--pry_color);
    color: white;
    border: none;
    padding: .5rem 2rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
transition: .1s linear;
margin: 1rem;
text-transform: capitalize !important;
}
.Submit_btn i{
    font-size: 1.1rem;
    right: 2rem;
    transition: .2s linear;
    margin-right: 0.5rem;
}


